<ul class="pagination-custom">
  {% if paginate.previous %}
    <li><a href="{{ paginate.previous.url }}" class="prev-page-able" title="{{ paginate.previous.title }}">PREV</a></li>
  {% else %}
    <li class="disabled"><span>PREV</span></li>
  {% endif %}

  {% for part in paginate.parts %}
    {% if part.is_link %}
      <li>
        <a href="{{ part.url }}" title="">{{ part.title }}</a>
      </li>
    {% else %}
      {% if part.title == paginate.current_page %}
        <li class="active"><span>{{ part.title }}</span></li>
      {% else %}
        <li><span>{{ part.title }}</span></li>
      {% endif %}
    {% endif %}
  {% endfor %}

  {% if paginate.next %}
    <li><a href="{{ paginate.next.url }}" class="next-page-able" title="{{ paginate.next.title }}">NEXT</a></li>
  {% else %}
    <li class="disabled"><span>NEXT</span></li>
  {% endif %}
</ul>
