<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-touch no-js"> <!--<![endif]-->
<head>

  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  {% if settings.favicon_enable %}
  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  {% endif %}

  <!-- Title and description ================================================== -->
  <title>
  {{ page_title }}{% if current_tags %}{% assign current_tags_joined = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: current_tags_joined }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <!-- Product meta ================================================== -->
  {% include 'open-graph-tags' %}
  {% include 'twitter-card' %}

  <!-- Helpers ================================================== -->
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  {% if settings.ajax_cart_method != 'page' %}
  <!-- Ajaxify Cart Plugin ================================================== -->
  {{ 'ajaxify.scss.css' | asset_url | stylesheet_tag }}
  {% endif %}

  <!-- CSS ================================================== -->
  {{ 'timber.scss.css' | asset_url | stylesheet_tag }}
  {% include 'google-fonts' %}

  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}

  {% include 'oldIE-js' %}

  {% comment %}
    If you store has customers disabled, you can remove the following JS file
  {% endcomment %}
  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
  {% endif %}

  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
  {{ 'modernizr.min.js' | asset_url | script_tag }}

  <!-- DIZTINCT GOOGLE FONTS -->
  <link href='https://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700' rel='stylesheet' type='text/css'>
  
  <!-- DIZTINCT CUSTOM CSS -->
  {{ 'diztinct.css' | asset_url | stylesheet_tag }}

</head>



<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >

  <header class="site-header" role="banner">

    <div class="top-mobile-link">
      <div class="wrapper">
        <ul>
          <li><a href="/pages/blog">Blog</a></li>
          <li><a href="/pages/contact-us">Contact</a></li>
          
          <li class="account-drop-down"><span>Account</span>
              <ul class="account-dd">
                {% if customer %}
                  <!-- <li><a href="{{ "Logout" | customer_logout_link }}">Logout</a></li> -->
                  {{ 'Log out' | customer_logout_link }}
                {% else %}
                  <!-- <li><a href="{{ customer_login_link }}">Login or Register</a></li> -->
                  {{ 'Log in' | customer_login_link }}    
                  {{ 'Create Account' | customer_register_link }}
                {% endif %} 
                <!-- <li><a href="">Login or Register</a></li> -->
                <li><a href="/account/">My Account</a></li>
                <li><a href="/account/">Order Status</a></li>
                <li><a href="/cart">Shopping Cart</a></li>
              </ul>
          </li>

          <li><a href=""><img class="cart-img" src="{{ 'cart_03.png' | asset_url }}"><span class="cart-count desk-cart">{{ cart.item_count }}</span></a></li>
        </ul>
      </div>
    </div>

    <div class="wrapper header-wrap">

      <div class="grid--full">
        <div class="grid-item large--one-half">
          {% if template == 'index' %}
            <h1 class="header-logo" itemscope itemtype="http://schema.org/Organization">
          {% else %}
            <div class="h1 header-logo" itemscope itemtype="http://schema.org/Organization">
          {% endif %}
            {% if settings.logo_use_image %}
              <a href="/" itemprop="url">
                <img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
              </a>
            {% else %}
              <a href="/" itemprop="url">{{ shop.name }}</a>
            {% endif %}
          {% if template == 'index' %}
            </h1>
          {% else %}
            </div>
          {% endif %}
        </div>

        <div class="mobile-logo">
          <a href="/">
            <img src="{{ 'mobile_logo_13.png' | asset_url }}">
          </a>
        </div>

        <div class="grid-item large--one-half text-center large--text-right shipping-promo-grid">
          {% if settings.header_message != blank or shop.customer_accounts_enabled %}
            <div class="site-header--text-links{% if settings.header_message == blank %} medium-down--hide{% endif %}">
              {% if settings.header_message != blank %}
                {{ settings.header_message }}
              {% endif %}

              {% if shop.customer_accounts_enabled %}
                <span class="site-header--meta-links medium-down--hide">
                  {% if customer %}
                    {% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
                    {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }} &middot; {{ 'layout.customer.log_out' | t | customer_logout_link }}
                  {% else %}
                    {{ 'layout.customer.sign_in' | t | customer_login_link }}
                    {% if shop.customer_accounts_optional %}
                    <span class="site-header--spacer">{{ 'layout.customer.or' | t }}</span>
                    {{ 'layout.customer.create_account' | t | customer_register_link }}
                    {% endif %}
                  {% endif %}
                </span>
              {% endif %}
            </div>

            <br class="medium-down--hide">
          {% endif %}

          <div class="shipping-promo">
            <p class="desk-ship-promo"><img src="{{ 'header-shipping-box_03.png' | asset_url }}" alt="Shipping Box">FREE SHIPPING ON ORDERS $35 OR MORE!</p>
            <p class="mobile-ship-promo"><img src="{{ 'header-shipping-box_03.png' | asset_url }}" alt="Shipping Box">FREE SHIPPING OVER 35!
            
            </p>

          </div>

          {% include 'search-bar' %}

          <!-- <a href="/cart" class="header-cart-btn cart-toggle">
            <span class="icon icon-cart"></span>
            {{ 'layout.cart.cart' | t }} <span class="cart-count cart-badge--desktop {% if cart.item_count == 0 %}hidden-count{% endif %}">{{ cart.item_count }}</span>
          </a> -->

        </div>
      </div>

    </div>
  </header>

  <nav class="nav-bar" role="navigation">
    <div class="wrapper">
      {% include 'search-bar' %}
      {% include 'site-nav' %}
    </div>
  </nav>

<!--   <div id="mobileNavBar">
    <div class="display-table-cell">
      <a class="menu-toggle mobileNavBar-link">MENU</a>
    </div>
    
  </div> -->

  <div class="diztinct-mobile-nav">
    <div class="wrapper">
      <a class="click-me-nav"><span class="menu-text">MENU</span></a>
      {% include 'site-nav' %}  
    </div>
  </div>

  <div class="background-image">

    <main class="wrapper main-content" role="main">

      {{ content_for_layout }}

    </main>
    
  </div>

<script>
  
  $(function(){

    $("a.click-me-nav").on("click", function(){
      $(".diztinct-mobile-nav > .wrapper > ul#accessibleNav").toggleClass('show-me');
      $("span.menu-text").toggleClass("open-nav");
    })

    $("a.click-me-dropdown").on("click", function(){
      $("account-dd").toggleClass("open");
    })

    $(".account-drop-down").on("click", function(){
      $(".account-dd").slideToggle("fast");
      $(this).toggleClass("open-account-menu");
    })

    $("ul.account-dd > li > a").on("click", function(e){
      e.stopPropagation();
    })

  })

</script>








  {% capture theme_settings_link %}<a href="/admin/themes/{{ theme.id }}/settings">{{ 'layout.footer.theme_settings' | t }}</a>{% endcapture %}

  <footer class="site-footer small--text-center" role="contentinfo">

    <div class="wrapper">

      <div class="grid">

          <div class="top-footer cf">
            
            <div class="footer-box cf">

              <div class="left-footer">
                <img src="{{ 'footer-img_31.png' | asset_url }}">
                <h4>Our Mission</h4>
                <p>To value every customer as part of the Sporting Up family ensuring the highest level of customer service and value no matter how large or small the order.</p>
              </div>

              <div class="right-footer">

                <div class="top-right-footer">
                  {% if settings.footer_newsletter_enable %}
                    <div class="">
                      <h3>10% OFF YOUR FIRST ORDER!</h3>
                      <p>Join our newsletter & receive 10% off your first order!</p>
                      {% include 'newsletter-form' %}
                    </div>
                  {% endif %}
                </div>
                <div class="lower-right-footer">
                  <h4>CUSTOMER LOYALTY PROGRAM</h4>
                  <p>Earn points with every purchase, redeem for savings.</p>
                  
                  <div class="black-box">
                    <span class="sign-up"><a href="">SIGN UP</a></span>
                    <span class="or">or</span>
                    <span class="log-in"><a href="">LOGIN</a></span>
                  </div>

                </div>
              </div>

            </div>

          </div>

          <div class="footer-columns cf">
            <ul>
              <h4>OUR GUARANTEE</h4>
              <li>Ships free over $35</li>
              <li>100% Satisfaction</li>
              <li>Secure Checkout</li>
              <li>5 Star Service</li>
              <li>Customer Loyalty</li>
            </ul>

            <ul>
              <h4>COMPANY INFO</h4>
              <li><a href="/pages/about-us">About Us</a></li>
              <li><a href="/pages/contact-us">Contact Us</a></li>
              <li><a href="/pages/faqs">FAQ's</a></li>
            </ul>

            <ul>
              <h4>MY SPORTING UP</h4>
              <li><a href="">Login or Register</a></li>
              <li><a href="">My Account</a></li>
              <li><a href="">Order Status</a></li>
              <li><a href="">Shopping Cart</a></li>
              <li><a href="">Shipping & Returns</a></li>
            </ul>

            <ul>
              <h4>CONNECT WITH US</h4>
              <li class="fb"><a href=""><span class="fb-img"></span>Facebook</a></li>
              <li class="twit"><a href=""><span class="twit-img"></span>Twitter</a></li>
              <li class="gram"><a href=""><span class="gram-img"></span>Instagram</a></li>
              <li class="pin"><a href=""><span class="pin-img"></span>Pinterest</a></li>
              <li class="blog"><a href=""><span class="blog-img"></span>SportingUp Blog</a></li>
            </ul>
          </div>

        <div class="payment-icons cf">
          <ul>
            <li><img src="{{ 'payment-icons_06.png' | asset_url }}"></li>
            <li><img src="{{ 'payment-icons_08.png' | asset_url }}"></li>
            <li><img src="{{ 'payment-icons_10.png' | asset_url }}"></li>
            <li><img src="{{ 'payment-icons_12.png' | asset_url }}"></li>
            <li><img src="{{ 'payment-icons_14.png' | asset_url }}"></li>
            <li><img src="{{ 'payment-icons_16.png' | asset_url }}"></li>
            <li><img src="{{ 'payment-icons_18.png' | asset_url }}"></li>
          </ul>
        </div>
        <div class="copyright">
          <p><img src="{{ 'hat-icon_03.png' | asset_url }}" />2015 Sporting Up Inc. All Rights Reserved.</p>
          <p><a href="http://www.diztinct.com/" target="_blank">Custom Shopify Design</a> by Diztinct.com</p>
        </div>


      </div>


    </div>

  </footer>

{% if settings.slider_home_enable %}
  {{ 'jquery.flexslider.min.js' | asset_url | script_tag }}
{% endif %}

  {{ 'shop.js' | asset_url | script_tag }}
  <script>
  var moneyFormat = '{{ shop.money_format }}';
  </script>

{% if settings.ajax_cart_method != 'page' %}
  {{ 'handlebars.min.js' | asset_url | script_tag }}
  {% include 'ajax-cart-template' %}
  {{ 'ajaxify.js' | asset_url | script_tag }}
  <script>
  jQuery(function($) {
    ajaxifyShopify.init({
      method: '{{ settings.ajax_cart_method }}',
      wrapperClass: 'wrapper',
      formSelector: '#addToCartForm',
      addToCartSelector: '#addToCart',
      cartCountSelector: '.cart-count',
      toggleCartButton: '.cart-toggle',
      useCartTemplate: true,
      btnClass: 'btn',
      moneyFormat: {{ shop.money_format | json }},
      disableAjaxCart: false,
      enableQtySelectors: true
    });
  });

  </script>
{% endif %}

</body>
</html>